body {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: left;
}

h2 {
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
}

hr {
    border: 1.5px solid white;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

#navbar {
    background-color: #333;
    position: absolute;
    top: 0;
    width: 100%;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.jumbotron {
    margin-top: 50px;
    padding: 100px;
    text-align: left;
    color: #FFF;
    font-size: 1.5em;
    background-image: linear-gradient(to bottom right, rgb(77, 219, 147), rgb(184, 111, 251));
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
}

.about {
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
}

.profile-image {
    height: 250px;
    clip-path: circle(40%);
    float: left;
}

.projects {
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
}

.contact {
    padding: 100px;
    text-align: center;
    color: #FFF;
    background-image: linear-gradient(to bottom right, rgb(77, 219, 147), rgb(184, 111, 251));
    clip-path: polygon(0 20%,100% 0,100% 100%,0 100%);
    margin-bottom: -1px;
}

.footer {
    padding: 50px;
    color: #FFF;
    text-align: center;
    background-color: #333;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    padding: 1em;
}

.button1 {
    border: 3px solid white;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}

.button1:hover {
    background-image: white;
    background: #FFF;
    background: linear-gradient(to bottom right, rgb(77, 219, 147), rgb(184, 111, 251));
        -webkit-background-clip: text;
        -webkit-text-fill-color: #FFF;
}

.button2 {
    font-size: 1em;
    background: linear-gradient(to bottom right, rgb(77, 219, 147), rgb(184, 111, 251));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.35em 0.5em 0.25em 0.5em;
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom right, rgb(77, 219, 147), rgb(184, 111, 251));
    border-image-slice: 1;
}

.button2:hover {
    background: linear-gradient(to bottom right, rgb(77, 219, 147), rgb(184, 111, 251));
        -webkit-background-clip: none;
        -webkit-text-fill-color: white;
    transition: all 1.0s cubic-bezier(.19,1,.22,1);
}